:root {
    --blue-0: #e9f1f5;
    --blue-2: #679bdb;
    --blue-3: #0e50a0;
    --gray: #d0d0d0;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

body:has(#learn:target) {
    background-color: var(--blue-0);
}

h1 {
    margin: 0;
    line-height: 40px;
    height: 60px;
    padding: 10px 0;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Zilla Slab', Georgia, 'Times New Roman', Times, serif;
    color: black;
}

h2 {
    margin: 10px 0 0;
    line-height: 40px;
    padding: 0;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'Zilla Slab', Georgia, 'Times New Roman', Times, serif;
    color: black;
}

button, a.button {
    line-height: 20px;
    height: 40px;
    font-size: 1rem;
    font-weight: 300;
    font-family: Poppins, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    margin: 10px 0 0;
}

p {
    line-height: 20px;
    font-size: 1rem;
    font-weight: 300;
    font-family: Poppins, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    margin: 5px 0 0;
}

a {
    line-height: 20px;
    height: 20px;
    font-size: 1rem;
    font-weight: 300;
    font-family: Poppins, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    margin: 0;
}

/* Header and nav */

header {
    z-index: 999;
    width: 100%;
    height: 90px;
    background-color: var(--blue-0);
    text-align: center;
}

nav {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

nav>a {
    position: relative;
}

nav>a>div {
    /* Underscore element for each link */
    width: 0%;
    position: absolute;
    background-color: var(--blue-3);
    height: 5px;
    left: 50%;
    bottom: -10px;
    transition: width 0.2s, left 0.2s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

body:not(:has(:target)) #nav-home-underscore {
    width: 100%;
    left: 0;
}

body:has(#learn:target) #nav-learn-underscore {
    width: 100%;
    left: 0;
}

body:has(#puzzle:target) #nav-puzzle-underscore {
    width: 100%;
    left: 0;
}

body:has(#rewards:target) #nav-rewards-underscore {
    width: 100%;
    left: 0;
}

main {
    background-color: white;
    padding-top: 10px;
    overflow-y: auto;
    flex-grow: 1;
}

/* Table of puzzle */

#main-puzzle {
    display: block;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
    width: min(402px, 100%);
    margin: auto;
    border: 1px solid var(--gray);
    border-radius: 2px;
    transition: width 0.2s;
}

.puzzle-sample {
    /* For small diagrams*/
    cursor: default;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    aspect-ratio: 1.333;
}

body:not(:has(:target)) #main-puzzle {
    width: min(100px, calc(100% - 20px));
    border: none;
    pointer-events: none;
}

body:has(#learn:target) #main-puzzle {
    width: min(202px, calc(100% - 20px));
    pointer-events: none;
}

body:has(#puzzle:target) #main-puzzle {
    width: min(402px, calc(100% - 20px));
}

body:has(#rewards:target) #main-puzzle {
    width: 0;
    display: none;
}

/* Table of main puzzle */

.puzzle-grid {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.puzzle-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    border: none;
}

.puzzle-cell {
    flex-grow: 1;
    border: 1px solid var(--gray);
}

body:not(:has(:target)) .puzzle-cell,
body:has(#rewards:target) .puzzle-cell {
    border: none;
}

/* Puzzle elements */

.puzzle-piece {
    position: absolute;
    background-image: url(pawn.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1;
    z-index: 3;
    transform: translate(-50%, -50%);
    transition: width 0.2s; /* Pieces shrink when captured */
    cursor: pointer;
    border-radius: 100%;
}

body:not(:has(:target)) .puzzle-piece {
    background-image: none;
    background-color: var(--blue-3);
}

.puzzle-rook {
    position: absolute;
    background-image: url(rook.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1;
    z-index: 3;
    transform: translate(-50%, -50%);
    transition: top 0.2s, left 0.2s; /* Rook moves smoothly to pieces */
    cursor: pointer;
    border-radius: 100%;
}

body:not(:has(:target)) .puzzle-rook {
    background-image: none;
    background-color: var(--blue-3);
}

.puzzle-trail {
    position: absolute;
    background-color: var(--blue-2);
    transition: background-color 0.2s;
}

body:not(:has(:target)) .puzzle-trail {
    background-color: var(--blue-3);
}

@keyframes puzzle-trail-down {
    0% {
        transform: translate(-2px, -50%) scaleY(0);
    } 100% {
        transform: translate(-2px, 0) scaleY(100%);
    }
}

.puzzle-trail-down {
    width: 4px;
    min-height: 5px;
    transform: translate(-2px, 0);
    animation: puzzle-trail-down 0.2s forwards;
}

@keyframes puzzle-trail-up {
    0% {
        transform: translate(-2px, -50%) scaleY(0);
    } 100% {
        transform: translate(-2px, -100%) scaleY(100%);
    }
}

.puzzle-trail-up {
    width: 4px;
    min-height: 5px;
    transform: translate(-2px, -100%);
    animation: puzzle-trail-up 0.2s forwards;
}

@keyframes puzzle-trail-right {
    0% {
        transform: translate(-50%, -2px) scaleX(0);
    } 100% {
        transform: translate(0, -2px) scaleX(100%);
    }
}

.puzzle-trail-right {
    height: 4px;
    min-width: 5px;
    transform: translate(0, -2px);
    animation: puzzle-trail-right 0.2s forwards;
}

@keyframes puzzle-trail-left {
    0% {
        transform: translate(-50%, -2px) scaleX(0);
    } 100% {
        transform: translate(-100%, -2px) scaleX(100%);
    }
}

.puzzle-trail-left {
    height: 4px;
    min-width: 5px;
    transform: translate(-100%, -2px);
    animation: puzzle-trail-left 0.2s forwards;
}

/* Table of controls */

#main-controls {
    margin-top: 10px;
    margin-left: calc(50% - 60px);
    width: 120px;
    height: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--blue-0);
    border-radius: 15px;
}

body:not(:has(:target)) #main-controls {
    display: none;
}

body:has(#learn:target) #main-controls {
    display: none;
}

body:has(#puzzle:target) #main-controls {
    display: flex;
}

body:has(#rewards:target) #main-controls {
    display: none;
}

.main-controls-row {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.main-controls-cell {
    position: relative;
    flex-grow: 1;
}

.main-controls-middle {
    background-color: white;
    border-radius: 15px;
}

/* Home message */

#main-feedback {
    display: none;
    height: fit-content;
    width: 100%;
    text-align: center;
    padding: 0 10px; /* Padding on sides so content is nicely centred */
}

body:not(:has(:target)) #main-feedback {
    display: block;
}

/* Learn message */

#main-learn {
    display: none;
    margin: auto;
    background-color: var(--blue-0);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px 20px 20px;
    width: 100%;
    text-align: center;
    height: fit-content;
    margin-top: 10px;
}

body:has(#learn:target) #main-learn {
    display: block;
}

/* Rewards page */

#main-rewards {
    display: none;
    text-align: center;
}

body:has(#rewards:target) #main-rewards {
    display: block;
}

.reward-tip {
    width: 200px;
    height: fit-content;
    min-height: 300px;
    background-color: var(--blue-0);
    border-radius: 15px;
    padding: 15px;
    text-align: left;
}

.reward-tips {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

/* Buttons and controls */

.button {
    border: none;
    border-radius: 2px;
}

.button-small {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0;
    background-color: transparent;
}

.button-big {
    display: flex;
    justify-self: center;
    margin: auto;
    width: fit-content;
    height: 40px;
    cursor: pointer;
    padding: 10px;
    font-weight: 500 !important;
    background-color: var(--blue-2);
}

.button-control-back {
    background-image: url(icon-back.svg);
}

.button-control-left {
    background-image: url(icon-left.svg);
}

.button-control-right {
    background-image: url(icon-left.svg);
    transform: rotate(180deg);
}

.button-control-up {
    background-image: url(icon-left.svg);
    transform: rotate(90deg);
}

.button-control-down {
    background-image: url(icon-left.svg);
    transform: rotate(270deg);
}