:root {
    --red-0: #ffe9e4;
    --red-3: #d10f13;
    --gray: #d0d0d0;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    line-height: 40px;
    height: 60px;
    padding: 10px 0;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Zilla Slab', Georgia, 'Times New Roman', Times, serif;
    color: black;
}

h2 {
    margin: 10px 0 0;
    line-height: 40px;
    padding: 0;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'Zilla Slab', Georgia, 'Times New Roman', Times, serif;
    color: black;
}

button, a.button {
    line-height: 20px;
    height: 40px;
    font-size: 1rem;
    font-weight: 300;
    font-family: Poppins, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    margin: 10px 0 0;
}

p {
    line-height: 20px;
    font-size: 1rem;
    font-weight: 300;
    font-family: Poppins, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    margin: 5px 0 0;
}

a {
    line-height: 20px;
    height: 20px;
    font-size: 1rem;
    font-weight: 300;
    font-family: Poppins, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    margin: 0;
}

/* Header and nav */

header {
    position: sticky;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: var(--red-0);
    text-align: center;
}

nav {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

nav>a {
    position: relative;
}

nav>a>div {
    /* Underscore element for each link */
    width: 0%;
    position: absolute;
    background-color: var(--red-3);
    height: 5px;
    left: 50%;
    bottom: -10px;
    transition: width 0.2s, left 0.2s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

body:not(:has(:target)) #nav-home-underscore {
    width: 100%;
    left: 0;
}

body:has(#learn:target) #nav-learn-underscore {
    width: 100%;
    left: 0;
}

body:has(#puzzle:target) #nav-puzzle-underscore {
    width: 100%;
    left: 0;
}

body:has(#rewards:target) #nav-rewards-underscore {
    width: 100%;
    left: 0;
}

/* Table of puzzle */

#main-puzzle {
    display: block;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
    width: min(400px, calc(100% - 20px));
    margin: auto;
    margin-top: 10px;
    border: 2px solid var(--gray);
    border-radius: 2px;
    transition: width 0.2s;
}

body:not(:has(:target)) #main-puzzle {
    width: min(100px, calc(100% - 20px));
    border: none;
}

body:has(#learn:target) #main-puzzle {
    width: min(400px, calc(100% - 20px));
}

body:has(#puzzle:target) #main-puzzle {
    width: min(400px, calc(100% - 20px));
}

body:has(#rewards:target) #main-puzzle {
    width: 0;
    display: none;
}

/* Table of main puzzle */

.puzzle-grid {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.puzzle-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}

body:has(#puzzle:target) .puzzle-row:not(:first-child),
body:has(#learn:target) .puzzle-row:not(:first-child) {
    border-top: 2px solid var(--gray);
}

.puzzle-cell {
    flex-grow: 1;
}

body:has(#puzzle:target) .puzzle-cell:not(:first-child),
body:has(#learn:target) .puzzle-cell:not(:first-child) {
    border-left: 2px solid var(--gray);
}

/* Puzzle elements */

.puzzle-piece {
    position: absolute;
    border: 3px solid var(--red-3);
    width: 5%;
    aspect-ratio: 1;
    border-radius: 100%;
    z-index: 3;
    transform: translate(-50%, -50%);
}

.puzzle-rook {
    position: absolute;
    background-color: var(--red-3);
    width: 5%;
    aspect-ratio: 1;
    border-radius: 100%;
    z-index: 3;
    transform: translate(-50%, -50%);
}

/* Table of controls */

#main-controls {
    margin-top: 10px;
    margin-left: calc(50% - 60px);
    width: 120px;
    height: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
}

body:not(:has(:target)) #main-controls {
    display: none;
}

body:has(#learn:target) #main-controls {
    display: none;
}

body:has(#puzzle:target) #main-controls {
    display: flex;
}

body:has(#rewards:target) #main-controls {
    display: none;
}

.main-controls-row {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.main-controls-cell {
    position: relative;
    flex-grow: 1;
}

/* Home message */

#main-feedback {
    display: none;
    height: fit-content;
    width: 100%;
    text-align: center;
    padding: 0 10px; /* Padding on sides so content is nicely centred */
}

body:not(:has(:target)) #main-feedback {
    display: block;
}

/* Buttons and controls */

.button {
    background-color: var(--red-0);
    border: none;
    border-radius: 2px;
}

.button-small {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0;
}

.button-big {
    display: flex;
    justify-self: center;
    margin: auto;
    width: fit-content;
    height: 40px;
    cursor: pointer;
    padding: 10px;
}